<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">


    <script type="text/javascript" src="/vendor/bootstrap.js"></script>


    <script type="text/javascript" src="/vendor/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/vendor/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/1.js"></script>

    <link rel="stylesheet" href="/vendor/bootstrap.css">
    <link rel="stylesheet" href="/vendor/font-awesome.css">
    <link rel="stylesheet" href="/1.css">
</head>
<body>

    <div class="topheader">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow jello">
                    <div class="mangxh float-sm-left text-xs-center text-sm-left">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="datban">
                        Click for Register: +011 29 345 678
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="datban openingtop float-sm-right text-sm-left text-xs-center">
                        Opening Hours : 9:00am - 10:00pm
                    </div>
                </div>
            </div> <!-- het row -->
        </div> <!-- het container -->
    </div> <!-- het topheader  -->

    <div class="logovamenu">
        <nav class="navbar navbar-light  fontroboto">
            <div class="container">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#mtren"></button>
                <div class="collapse navbar-toggleable-xs" id="mtren">
                    <a class="navbar-brand text-xs-center text-sm-left" href="#"><img src="/images/logo.png" alt=""></a>

                    <ul class="nav navbar-nav float-sm-right">
                        <li class="nav-item active">
                            @Html.ActionLink("Home", "index", "home", null, htmlAttributes: new { @class = "nav-link" })

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="news.html">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="thucdon.html">Recipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                        @if (Session["userId"] != null)
                        {
                            <li class="nav-item">

                                @Html.ActionLink(Session["email"].ToString(), "index", "home", null, htmlAttributes: new { @class = "nav-link" })
                            </li>
                        }
                        <li class="nav-item datbanmenu">
                            @if (Session["userId"] != null)
                            {
                                @Html.ActionLink("LOGOUT", "logout", "users", null, htmlAttributes: new { @class = "nav-link btn btn-warning wow bounce" })


                            }
                            @if (Session["userId"] == null)
                            {
                                if (ViewContext.RouteData.Values["action"].ToString() == "login")
                                {
                                    @Html.ActionLink("REGISTER", "create", "users", null, htmlAttributes: new { @class = "nav-link btn btn-warning wow bounce" })
                                }
                                else
                                {
                                    @Html.ActionLink("LOGIN", "login", "users", null, htmlAttributes: new { @class = "nav-link btn btn-warning wow bounce" })
                                }

                            }

                        </li>
                    </ul>
                </div>
            </div> <!-- het container -->
        </nav>
    </div> <!-- het logo va menu -->


    <div class="badichvu">
        <div class="container ">
            <div class="row">
                <div class="col-sm-12 wow flipInY">
                    <h2>
                        @RenderBody()
                    </h2>
                </div>
            </div>
        </div>
    </div>





</body>
</html>
